body{
  background: #EAF2F8;
}


.header{
  background-color: #48CBEC;
  min-height: 150px;
}

.logo{
align-items: center;
}

.img-logo{
  margin-left: 20px;
  margin-top: 10px;
  width: 180px;
}

.redes-sociales{
  margin-top: 90px;
  margin-bottom: 4px;
}

.img-sociales{
  margin-left: 5px;
}

.navbar{
  background: #3498DB;
  border-radius: 0px;
}

.textobarra{
  color: #FFFFFF;
  text-align: center;
}

.articulo{
  background: #FBFCFC;
  min-height: 250px;

}

.articulo2{
  background: #FBFCFC;
  min-height: 250px;
}

.articulo3{
  background: yellow;
  min-height: 500px;
}

.img-art{
  margin-top: 30px
}

.text-area{
  margin-top: 10px;
}

.img-tex-area{
  width: 80px;
  margin-top: 5px;

}

@media (min-width: 900px) {
  .text-navbar{
    margin-left: 50px;
  }

}

@media (max-width: 900px) {
  .articulo3{
    display: none;
  }
}
